.puzzle_name {
    color: darkblue;
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 200px;
}


.window {
    color: azure;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 44%;
    margin-right: 44%;
    background: #001515;
    border-radius: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.bored_get_it {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.box {
    border: 1px solid #C5C6D0;
    border-radius: 6px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    /* makes cursor pointer when you hover it */
}




.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
    border: 1px solid black;
}


#reset {
    background-color: #FF3860;
    border: 1px solid black;
}