.puzzle_name {
    color: darkblue;
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
    font-style: italic;
}

.window {
    color: azure;
    font-size: 25px;
    text-align: center;
    margin: 1em 44%;
    background: #001515;
    border-radius: 10px;
}

.controls {
    display: flex;
    justify-content: center;
}


.bored_get_it {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.box {
    border: 1px solid #717178;
    border-radius: 6px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.controls button {
    padding: 6px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
}


#reset {
    color:white;
    background-color: #FF3860;
    border: 1px solid black;
}